#panel {
	left: 25%;
}

#map-canvas {
	width: 50%;
}

.forecast {
	top: 0;
	margin-left: 50%;
}

/*Footer*/
.footer ul {
	margin: 0;	
}
.footer .nav {
	float: left;	
}
.footer .nav li a {
	padding: 1.3em;
	line-height: 1;
}