#panel {
	left: 25%;
}

#map-canvas {
	width: 50%;
}

.forecast {
	top: 0;
	margin-left: 50%;
}

.image {
	width: 10em;
	height: 10em;	
}

.temperature {
	font-size: 2.5em;
}

.location {
	font-size: 1.5em;
}