/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section { 
	margin: 0; 
	padding: 0;
	border: 0;
} 
ol, ul { 
	list-style: none; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

#map-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#panel {
	position: absolute;
	top: 20px;	
	left: 50%;
	margin-left: -100px;
	width: 200px;
	z-index: 5;
	background-color: #fff;
 padding: 5px;
 border: 1px solid #999;
 opacity: 0.8;
 text-align: center;
}

.forecast {
	position: absolute;
	top: 100%;
	padding: 1em;
}

.image {
	width: 5em;
	height: 5em;	
	}
	
.temperature {
	font-size: 2em;
}

.location {
	font-size: 1em;
}