/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section { 
	margin: 0; 
	padding: 0;
	border: 0;
} 
ol, ul { 
	list-style: none; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

p {
	padding: 0.2em;
}

#map-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#panel {
	position: absolute;
	top: 1.5em;	
	left: 50%;
	margin-left: -100px;
	width: 200px;
	z-index: 5;
	background-color: #fff;
 padding: 5px;
 border: 1px solid #999;
 opacity: 0.8;
 text-align: center;
}

#forecast-button {
	visibility: visible;	
}

#search {
	position: absolute;
	bottom: 1em;	
	left: 50%;
	margin-left: -100px;
	width: 200px;
	z-index: 5;
 padding: 5px;
 opacity: 0.8;
 text-align: center;
}

#address {
	width: 180px;
}

.forecast {
	position: absolute;
	top: 100%;
	padding: 1em;
}

.forecast-list-item {
	padding: 0.5em;
	width: 100%;
}

.forecast-image {
	float: left;
	width: 4em;
	height: 4em;	
}

.forecast-date {
	margin-left: 5em;
}

.forecast-temperature-day {
	margin-left: 5em;
	font-weight: bold;	
}

.forecast-temperature-night {
	margin-left: 5em;	
}

.forecast-description {
	margin-left: 5em;
}

.image {
	width: 5em;
	height: 5em;	
}
	
.temperature {
	font-size: 2em;
}

.location {
	font-size: 0.8em;
}